.full-screen {
    display: block;
    height: inherit;
    width: inherit;
    pointer-events: none;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1;
    color: #999;
}

#info a {
    pointer-events: auto;
    color: #888;
}

.dat-gui {
    top: 16px !important;
    width: 150px !important;
    z-index: 99;
}

.react-dat-gui .cr {
    background-color: rgba(100, 100, 100, .5) !important;
}